

# the identity that sipdial should use in the SIP From
# header for identifying itself to the SIP proxy
# (may be the same as the callerUserAgentAddress
# or a different value):
dialerIdentity = sip:80009999@sip5060.net

# the credentials used by sipdial to authenticate itself
# to the SIP proxy:
authRealm = sip5060.net
authUser = 80009999
authPassword = xxx

# the identity of the phone that should be told to
# make the call to the target URI (e.g.
# the SIP address of the phone on your desk)
callerUserAgentAddress = sip:80008888@sip5060.net

#  AlertInfo:     adds the header field "AlertInfo: AA"
#                 (this value was formerly called PolycomIP501)
#  LinksysSPA941: adds the attribute answer-after=0 to header Callinfo
#  Cisco7940:     same as generic
#  Generic:       adds no special header fields
callerUserAgentVariety = LinksysSPA941

# when a tel: URI is dialed with an E.164 argument
# (a number preceded by a `+' symbol), sipdial
# will remove the `+' symbol and replace it with the
# `targetPrefix' string, if the string is defined,
# if it is not defined, the dialed value is sent
# unmodified
targetPrefix = 00

# when a tel: URI is dialed, the targetDomain value
# will be appended to the number to create a SIP
# address, e.g. if you dial
# 
#    tel:1234
#
# sipdial will dial the SIP address:
#
#    sip:1234@targetDomain
#
targetDomain = sip5060.net

# certPath works just like CertificatePath in repro.config
# If NOT specified, sipdial will automatically try
# to use $HOME/.sipdial/certs
# Note that sipdial loads ALL root certificates found by the settings
# CertificatePath and CADirectory.  Setting one option does
# not disable the other options.
# Certificates in this location have to match one of the filename
# patterns expected by the legacy reSIProcate SSL code:
#   domain_cert_NAME.pem, root_cert_NAME.pem, ...
#certPath = 

# Path to load root certificates from
# Iff this directory is specified, all files in the directory
# will be loaded as root certificates, prefixes and suffixes are
# not considered
# Note that sipdial loads ALL root certificates found by the settings
# certPath and CADirectory.  Setting one option does
# not disable the other options.
# On Debian, the typical location is /etc/ssl/certs
#CADirectory = /etc/ssl/certs


