########################################################
# echoTest configuration file
########################################################

########################################################
# Logging settings
########################################################

# Logging Type: syslog|cerr|cout|file
LoggingType = file

# For syslog, also specify the facility, default is LOG_DAEMON
SyslogFacility = LOG_DAEMON

# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LoggingLevel = STACK

# Log Filename
# The following templates can be used in the filename:
#  {timestamp} - the number of seconds since the UNIX epoch
#  {pid}       - the PID of the process
LogFilename = echoTest.log

# Log message structure: Unstructured or JSON_CEE
#LogMessageStructure = Unstructured
LogMessageStructure = JSON_CEE

# Log file Max Size
LogFileMaxLines = 0

# Instance name to be shown in logs, very useful when multiple instances
# logging to syslog concurrently
# If unspecified, no instance name is logged
#LoggingInstanceName = echoTest-dev

# Specify the HOMER SIP capture server hostname
# If CaptureHost is commented/not defined, there is no default value and
# echoTest doesn't attempt to send any HEP packets.
#CaptureHost = localhost

# Specify the HOMER SIP capture server UDP port
# If not defined, the default value, 9060, is used
#CapturePort = 9060

# Specify the HOMER Capture Agent ID
# The default value is 2002
CaptureAgentID = 2002

########################################################
# Transport settings
########################################################

# Local IP Address to bind SIP transports to.
# In general the IP address to bind to is queried from the host OS.This switch allows specification
# of the IP address for OS's that cannot be queried, or for machines that have mulitple NICs.
IPAddress = 127.0.0.1

# Local port number to use for SIP messaging over TCP - 0 to disable
TCPPort = 12010

# Local port number to use for SIP messaging over UDP - 0 to disable
UDPPort = 12010

# Default decoder / encoder pipeline to select if not specified in
# the URI of an incoming call.
DefaultPipelineId = h264avx

# Local port number to start allocating from for RTP media
MediaPortStart = 8002

# URI of a proxy server to use a SIP outbound proxy.
# By default echoTest does not use an outbound proxy.  Use this switch to route all
# outbound, out-of-dialog requests through a fixed proxy despite the destination URI.
OutboundProxyUri =

# Whether to register with a SIP proxy
Register = false

# This option is used to specify the SIP URI for this instance of echoTest.  echoTest uses
# this setting (-ip is not specified) in order to find the regisration server.  If
# nothing is specified, then the default of sip:UAS@<ipaddress> will be used.
#SIPUri =

# SIP password of this SIP user
# Use this switch in cases where the proxy digest challenges sip messaging.
Password =
