########################################################
# click to call server configuration file
########################################################


########################################################
# SIP settings
########################################################

# Local IP Address to bind SIP transports to. If left blank
# ichat-gw will bind to all adapters.
#IPAddress = 192.168.1.106
#IPAddress = 2001:5c0:1000:a::6d
IPAddress = 

# Comma separated list of DNS servers, overrides default OS detected list (leave blank for default)
DNSServers =

# Used in From header of SIP calls, when calling initiator.  Value must be a valid formatted SIP Uri
ClickToCallIdentity = sip:click2call@blitzzgod.com

# Local port to listen on for SIP messages over UDP or TCP
UDPTCPPort = 5072

# Local port to listen on for SIP messages over TLS
TLSPort = 5073

# TLS domain name for this server (note: domain cert for this domain must be present)
TLSDomainName =   

# Enable/Disable TCP/UDP CRLFCRLF keepalive packets for SIP endpoints
# 1|true|on|enable to enable, 0|false|off|disable to disable
KeepAlives = enable

# URI of a proxy server to use a SIP outbound proxy.  This setting should not be required if 
# proper DNS based SIP routing is operational.
OutboundProxy =


########################################################
# General settings
########################################################

# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LogLevel = INFO

# Log Filename
LogFilename = clicktocall.log

# Log file Max Lines
LogFileMaxLines = 50000

# Port to listen for XML RPC requests on.  Set to 0 to disable.  
# Note: clicktocall will listen on this port for all interfaces, for both IPv4 
#       and IPv6 (if available). 
XmlRpcPort = 5094

# Port to listen on for HTTP messaging (ie. Click-to-call).  Set to 0 to disable.
# Note: clicktocall will listen on this port for all interfaces, for both IPv4 
#       and IPv6 (if available).
HttpPort = 5090

# Enable/Disable HTTP Digest authentication: 1|true|on to enable
# 1|true|on|enable to enable, 0|false|off|disable to disable
HttpAuth = enable

# Password required if HttpAuth is enabled:  Note: auth user is always "admin"
HttpAuthPwd = admin


########################################################
# Address Translation Rules (must be listed in pairs)
########################################################

# Rule for mapping any non-sip address to appropriate SIP URI
TranslationPattern=^(.*)$
TranslationOutput=sip:$1@blitzzgod.com




