# This file is only looked at when a checked-out SVN
# repository is used as the source for a git repo.

/SVN-VERSION
/.make_prefs
/build/Makefile.conf
tags
*build.Linux*
.dependlibs
bin.debug.*
obj.debug.*
bin.opt.*
obj.opt.*
bin.gopt.*
obj.gopt.*
obj.prof.*
bin.prof.*

repro/reproInfo.hxx
repro/repro

resip/dum/test/BasicCall
resip/dum/test/basicClient
resip/dum/test/basicMessage
resip/dum/test/basicRegister
resip/dum/test/limpc
resip/dum/test/testSMIMEInvite
resip/dum/test/testSMIMEMessage
resip/dum/test/treg
resip/dum/test/testRequestValidationHandler

resip/stack/.firstrun

resip/stack/test/*.log
resip/stack/test/RFC4475TortureTests
resip/stack/test/UAS
resip/stack/test/dumpTls
resip/stack/test/limpc
resip/stack/test/makeSelfCert
resip/stack/test/test503Generator
resip/stack/test/testAppTimer
resip/stack/test/testApplicationSip
resip/stack/test/testClient
resip/stack/test/testConnectionBase
resip/stack/test/testCorruption
resip/stack/test/testDigestAuthentication
resip/stack/test/testDns
resip/stack/test/testDtlsTransport
resip/stack/test/testEmbedded
resip/stack/test/testEmptyHeader
resip/stack/test/testEmptyHfv
resip/stack/test/testExternalLogger
resip/stack/test/testIM
resip/stack/test/testIdentity
resip/stack/test/testLockStep
resip/stack/test/testMessageWaiting
resip/stack/test/testMultipartMixedContents
resip/stack/test/testMultipartRelated
resip/stack/test/testParserCategories
resip/stack/test/testPidf
resip/stack/test/testPksc7
resip/stack/test/testPlainContents
resip/stack/test/testRSP-2
resip/stack/test/testResponses
resip/stack/test/testRlmi
resip/stack/test/testSMIME
resip/stack/test/testSdp
resip/stack/test/testSecurity
resip/stack/test/testSelect
resip/stack/test/testSelectInterruptor
resip/stack/test/testServer
resip/stack/test/testSipFrag
resip/stack/test/testSipMessage
resip/stack/test/testSipMessageEncode
resip/stack/test/testSipMessageMemory
resip/stack/test/testSipStack1
resip/stack/test/testStack
resip/stack/test/testTcp
resip/stack/test/testTime
resip/stack/test/testTimer
resip/stack/test/testTls
resip/stack/test/testTransactionFSM
resip/stack/test/testTuple
resip/stack/test/testTypedef
resip/stack/test/testUdp
resip/stack/test/testUri
resip/stack/test/testXMLCursor

rutil/test/*.log
rutil/test/testLogger*.txt
rutil/test/testCoders
rutil/test/testCountStream
rutil/test/testData
rutil/test/testDataPerformance
rutil/test/testDataStream
rutil/test/testDnsUtil
rutil/test/testFifo
rutil/test/testFileSystem
rutil/test/testInserter
rutil/test/testIntrusiveList
rutil/test/testLogger
rutil/test/testMD5Stream
rutil/test/testParseBuffer
rutil/test/testRandomHex
rutil/test/testRandomThread
rutil/test/testSHA1Stream
rutil/test/testThreadIf

