# This file is only looked at when a checked-out SVN
# repository is used as the source for a git repo.

*.dll
*.o
*.lo
*.la
*.bak
*.obj
*.pdb
*.ilk
*.idb
*.log
/Makefile
/Makefile.in
/.deps
/.libs
**/.vs
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
/stamp-h1
/autom4te.cache
/build-aux
/packages
/resiprocate.spec
/resiprocate-[0-9]*.tar.gz
/resiprocate-[0-9]*.zip
/resiprocate-contrib-[0-9]*.tar.gz
/resiprocate-contrib-[0-9]*.zip
repro_*.db
reproInfo.hxx

/SVN-VERSION
/.make_prefs
/build/Makefile.conf
tags
*build.Linux*
.dependlibs
bin.debug.*
obj.debug.*
bin.opt.*
obj.opt.*
bin.gopt.*
obj.gopt.*
obj.prof.*
bin.prof.*

**/[Ww]in32
**/x64
*.vcxproj.user
**/Debug Dll
**/Release Dll
**/x64-Debug
**/packages
**/test/*.exe

/.idea
/cmake-build-*

CMakeCache.txt
CPackConfig.cmake
CPackSourceConfig.cmake
**/CMakeFiles/
**/CTestTestfile.cmake
**/cmake_install.cmake
**/lib*.so
**/lib*.so.*
**/Testing/


Makefile
.cproject
.project
aclocal.m4
apps/clicktocall/clicktocall
apps/sipdial/sipdialer
apps/telepathy/moc_Connection.cxx
apps/telepathy/moc_MyConversationManager.cxx
apps/telepathy/moc_MyUserAgent.cxx
apps/telepathy/moc_Protocol.cxx
apps/telepathy/moc_SipCallChannel.cxx
apps/telepathy/playback_prompt.h
apps/telepathy/record_prompt.h
apps/telepathy/telepathy-resiprocate
config.h
config.h.in
config.log
config.status
configure
libtool
m4/libtool.m4
m4/ltoptions.m4
m4/ltsugar.m4
m4/ltversion.m4
m4/lt~obsolete.m4
reTurn/reTurnServer
repro/accountingconsumers/queuetostream
repro/reprocmd/reprocmd
resip/recon/MOHParkServer/MOHParkServer
resip/recon/test/testUA