# This file is only looked at when a checked-out SVN
# repository is used as the source for a git repo.

*.o
*.lo
*.la
/Makefile
/Makefile.in
/.deps
/.libs
/aclocal.m4
/config.h
/config.h.in
/config.log
/config.status
/configure
/libtool
/m4
/stamp-h1
/autom4te.cache
/build-aux
/resiprocate.spec
/resiprocate-[0-9]*.tar.gz
/resiprocate-[0-9]*.zip
/resiprocate-contrib-[0-9]*.tar.gz
/resiprocate-contrib-[0-9]*.zip
/repro_*.db

/SVN-VERSION
/.make_prefs
/build/Makefile.conf
tags
*build.Linux*
.dependlibs
bin.debug.*
obj.debug.*
bin.opt.*
obj.opt.*
bin.gopt.*
obj.gopt.*
obj.prof.*
bin.prof.*

