language: cpp
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq gperf libasio-dev libboost-dev libc-ares-dev libdb++-dev libpopt-dev libssl-dev perl libmysqlclient-dev libradiusclient-ng-dev libcppunit-dev autotools-dev libpcre3-dev libxerces-c-dev curl
compiler:
  - gcc
script:
  - ./build/travis/bootstrap
  - ./build/travis/configure
  - ./build/travis/build
