[Unit]
Description=reSIProcate repro SIP proxy daemon
After=syslog.target
After=network.target

[Service]
User=repro
Group=repro
ExecStart=/usr/sbin/repro /etc/repro/repro.config

[Install]
WantedBy=multi-user.target
