[Unit]
Description=reSIProcate repro SIP proxy daemon
After=syslog.target
After=network.target

[Service]
ExecStart=/usr/sbin/repro /etc/repro/repro.config --Daemonize=false
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
