TurnPort = 3478
TlsTurnPort = 5349
AltStunPort = 0
TurnAddress = 0.0.0.0
AltStunAddress = 0.0.0.0
AuthenticationMode = 2
AuthenticationRealm = reTurn
NonceLifetime = 3600
AllocationPortRangeMin = 49152
AllocationPortRangeMax = 65535
DefaultAllocationLifetime = 600
MaxAllocationLifetime = 3600
MaxAllocationsPerUser = 0
TlsServerCertificateFilename = server.pem
TlsTempDhFilename = dh512.pem
# leave blank if key is not encrypted
#TlsPrivateKeyPassword = 
# Logging Type: syslog|cerr|cout|file
# NOT IMPLEMENTED YET LoggingType = file
# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
# NOT IMPLEMENTED YET LoggingLevel = INFO
LogFilename = reTurnServer.log
LogFileMaxLines = 50000
# It is highly recommended that these values are NOT left at their
# default setting
#LongTermAuthUsername = test
#LongTermAuthPassword = 1234

