[Unit]
Description=reSIProcate reTurn ICE/STUN/TURN server daemon
After=syslog.target
After=network.target

[Service]
User=return
Group=return
ExecStart=/usr/sbin/reTurnServer /etc/reTurnServer.config

[Install]
WantedBy=multi-user.target
