*.la
*.lo
*.o
*~
.DS_Store
.deps
.libs
/m4
GeoIP-*.tar.gz
GeoIP.spec
Makefile
Makefile.in
aclocal.m4
apps/geoiplookup
apps/geoiplookup6
apps/geoipupdate
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
data/GeoIP.dat
depcomp
geoip.pc
install-sh
libtool
ltmain.sh
man/geoiplookup.1
man/geoiplookup6.1
man/geoipupdate.1
missing
test-driver
test/benchmark
test/test-geoip
test/test-geoip-asnum
test/test-geoip-city
test/test-geoip-domain
test/test-geoip-isp
test/test-geoip-netspeed
test/test-geoip-org
test/test-geoip-region
test/test-geoip.log
test/test-geoip.trs
test/test-suite.log
