########################################################
# ichat-gw configuration file
########################################################


########################################################
# SIP settings
########################################################

# Local IP Address to bind SIP transports to. If left blank
# ichat-gw will bind to all adapters.
#IPAddress = 192.168.1.106
#IPAddress = 2001:5c0:1000:a::6d
IPAddress = 

# Comma separated list of DNS servers, overrides default OS detected list (leave blank for default)
DNSServers =

# Used in From header of SIP calls, when caller is unknown.  Value must be a valid formatted SIP 
# NameAddr.  Ie. “{displayname}” <{SIP URI}>.  Currently this setting is only used when 
# calling iChat endpoints and is never displayed to the end user.
SIPGatewayIdentity = "iChat-gw" <sip:ichat-gw@blitzzgod.com>

# Local port to listen on for SIP messages over UDP or TCP
UDPTCPPort = 5070

# Local port to listen on for SIP messages over TLS
TLSPort = 5071

# TLS domain name for this server (note: domain cert for this domain must be present)
TLSDomainName =   

# Enable/Disable TCP/UDP CRLFCRLF keepalive packets for SIP endpoints
# 1|true|on|enable to enable, 0|false|off|disable to disable
KeepAlives = enable

# URI of a proxy server to use a SIP outbound proxy.  This setting should not be required if 
# proper DNS based SIP routing is operational.
OutboundProxy =

# SIP Registration Time - the requested amount of seconds between SIP re-registration requests
# Set to 0, to instruct the iChat gateway not to perform any registrations
RegistrationTime = 3600

# SIP Registration Retry Time - the requested amount of seconds between retrying SIP registration
# requests after a registration failure.
RegistrationRetryTime = 120


########################################################
# General settings
########################################################

# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LogLevel = INFO

# Log Filename
LogFilename = ichat-gw.log

# Log file Max Lines
LogFileMaxLines = 50000

# Gateway IPC Port - for IPC UDP socket bound to 127.0.0.1
GatewayIPCPort = 2078

# Jabber Connector IPC Port - for IPC UDP socket bound to 127.0.0.1
JabberConnectorIPCPort = 2079

# Timeout for obtaining iChat Resources when an iChat user is called.
IChatProceedingTimeout = 5000

# If enabled then any time an IChat endpoint is involved then the media relay will be used.
# If disabled then the media relay is only used if iChat is originator of a Click-to-dial call.
# Note:  The media relay MUST be used to perform RTP IPV4<->IPV6 translation and to avoid
#        media stream timeout during a SIP phone hold.
# 1|true|on|enable to enable, 0|false|off|disable to disable
AlwaysRelayIChatMedia = true

# Prefer IPv6 over IPv4 - this setting controls which IP address we select when presented 
# with the list of IP addresses for an iChat endpoint
PreferIPv6 = true

# Comma separated codec ID filter list - specifies non-interopable codecs that should 
# be filtered from Sdp Offers.  
# Note:  Default is 3 (GSM), since it has proven non-interopable between iChat and SNOM phones
CodecIdFilterList = 3

# Media relay port range min/max settings.  These settings define the range of ports that will be used
# by the media relay.
MediaRelayPortRangeMin = 8000
MediaRelayPortRangeMax = 9999


########################################################
# Jabber settings
########################################################

# Hostname or IP address of the Jabber server to connect to
JabberServer = jabber.blitzzgod.com

# Identity of this component - note: domain suffix should match Jabber server domain
JabberComponentName = ichat-gw.jabber.blitzzgod.com

# Jabber Component Password required in order to connect to Jabber server as a component
JabberComponentPassword = password

# Jabber Component Port - port on Jabber server that accepts component connections
JabberComponentPort = 5275

# Duration between Jabber ping messages sent to the server, in order to keep the component connection alive
JabberServerPingDuration = 60

# Username for the iChat Gateway control user - Note:  iChat users of the Gateway must add this user to their roster
JabberControlUsername = control


########################################################
# Address Translation Rules (must be listed in pairs)
########################################################

# Rule for mapping any sip address to appropriate jabber JID/domain
TranslationPattern=^sip:(.*)@(.*)$
TranslationOutput=xmpp:$1@jabber.blitzzgod.com

#Rule for mapping any xmpp address to appropriate SIP URI/domain
TranslationPattern=^xmpp:(.*)@(.*)$
TranslationOutput=sip:$1@blitzzgod.com




