########################################################
# MOH / Park Server configuration file
########################################################

########################################################
# MOH settings
########################################################
MOHUri = "Music-On-Hold" <sip:moh@blitzzgod.com>
MOHPassword = 123
# Registration Time in seconds - set to 0 to disable registration
MOHRegistrationTime = 3600
MOHFilename = music.wav

########################################################
# Park settings
########################################################
ParkUri = "Parked" <sip:park@blitzzgod.com>
ParkPassword = 123
# Registration Time in seconds - set to 0 to disable registration
ParkRegistrationTime = 3600
ParkMOHFilename = music.wav
ParkOrbitRangeStart = 6000
ParkNumOrbits = 10
# Registration Time in seconds - set to 0 to disable orbit registration
ParkOrbitRegistrationTime = 3600
ParkOrbitPassword = 123

########################################################
# SIP settings
########################################################

# Local IP Address to bind SIP transports to. If left blank
# MOHParkServer will bind to all adapters.
#IPAddress = 192.168.1.106
#IPAddress = 2001:5c0:1000:a::6d
IPAddress =

# Comma separated list of DNS servers, overrides default OS detected list (leave blank for default)
DNSServers = 192.168.1.105

# Local port to listen on for SIP messages over UDP
UDPPort = 5072

# Local port to listen on for SIP messages over TCP
TCPPort = 5072

# Local port to listen on for SIP messages over TLS
TLSPort = 5073

# TLS domain name for this server (note: domain cert for this domain must be present)
TLSDomainName =

# Enable/Disable TCP/UDP CRLFCRLF keepalive packets for SIP endpoints
# 1|true|on|enable to enable, 0|false|off|disable to disable
KeepAlives = enable

# URI of a proxy server to use a SIP outbound proxy.  This setting should not be required if
# proper DNS based SIP routing is operational.
OutboundProxy =

########################################################
# Media settings
########################################################
MediaPortRangeStart = 50000
MediaPortRangeSize = 100
# Log Filename - leave blank to disable sipXtapi logging
sipXLogFilename = sipXtapi.log

########################################################
# General settings
########################################################

# Logging level: NONE|ERR|WARNING|INFO|DEBUG|STACK
LogLevel = INFO

# Log Filename
LogFilename = MOHParkServer.log

# Log file Max Bytes
LogFileMaxBytes = 5000000
