########################################################
# MOH / Park Server configuration file
########################################################


########################################################
# MOH settings
########################################################

# URI that SIP user agents use to communicate with the MOH server.  If a display name 
# is desired on calls placed by the MOH server then it can be provided here using the 
# following format:   "{displayName}"<sip:{user}@{domain}>
#   Example:  "Music-On-Hold"<sip:moh@server.com>
MOHUri = "Music-On-Hold"<sip:moh@blitzzgod.com>

# Registration Time in seconds - set to 0 to disable registration
MOHRegistrationTime = 3600

# The password that is used if registration is enabled (ie. MOHRegistrationTime is
# greater than 0), and the registrar requires a password for the user specified in
# the MOHUri.
MOHPassword = 123

# The audio filename to play for music-on-hold.  Audio files may be AU, WAV or RAW
# formats.  Audiofiles should be 16bit mono, 8khz, PCM to avoid runtime conversion.
MOHFilename = music.wav


########################################################
# Park settings
########################################################

# URI that SIP user agents use to communicate with the Park server.  If a display name
# is desired on calls placed by the Park server then it can be provided here using the
# following format:   "{displayName}"<sip:{user}@{domain}>
#   Example:  "Parked"<sip:park@server.com>
ParkUri = "Parked"<sip:park@blitzzgod.com>

# Registration Time in seconds - set to 0 to disable registration
ParkRegistrationTime = 3600

# The password that is used if registration is enabled (ie. ParkRegistrationTime is
# greater than 0), and the registrar requires a password for the user specified in
# the ParkUri.
ParkPassword = 123

# The audio filename to play for music-on-hold.  Audio files may be AU, WAV or RAW
# formats.  Audiofiles should be 16bit mono, 8khz, PCM to avoid runtime conversion.
ParkMOHFilename = music.wav

# A number specifying the starting number of the park orbit range.  Orbit numbers 
# are treated as integers, thus this number must be 9 digits or less.
ParkOrbitRangeStart = 6000

# The number of park orbits to allocate and potentially register.  For example, if 
# ParkOrbitRangeStart is specified as 6000 and ParkNumOrbits is 10, then the number 
# range 6000-6009 will be used for park orbits.
ParkNumOrbits = 10

# The registration period, in seconds, to use when registering the orbit retrieval 
# identities.  Specify this setting as 0 to disable registration of the park orbit 
# URIs.  
# Note:  Park orbit URI’s are formed by taking the park orbit number as the SIP user 
# and the domain from the ParkUri setting.  For example, if the ParkUri is specified 
# as sip:park@server.com and the ParkOrbitRangeStart is 6000, then the first park orbit 
# Uri will be:  sip:6000@server.com
ParkOrbitRegistrationTime = 3600

# The password that is used if orbit registration is enabled (ie. 
# ParkOrbitRegistrationTime is greater than 0), and the registrar requires a password 
# for the park orbit user.
ParkOrbitPassword = 123

# The number of seconds the park server will allow a call to stay parked.  If a call is 
# not retrieved within this time, it will ring back the party that originally parked the 
# call (set to 0 to disable).
MaxParkTime = 600


########################################################
# SIP settings
########################################################

# Local IP Address to bind SIP transports to. If left blank
# MOHParkServer will bind to all adapters.
#IPAddress = 192.168.1.106
#IPAddress = 2001:5c0:1000:a::6d
IPAddress =

# Comma separated list of DNS servers, overrides default OS detected list (leave blank for default)
DNSServers = 192.168.1.105

# Local port to listen on for SIP messages over UDP
UDPPort = 5072

# Local port to listen on for SIP messages over TCP
TCPPort = 5072

# Local port to listen on for SIP messages over TLS
TLSPort = 5073

# TLS domain name for this server (note: domain cert for this domain must be present)
TLSDomainName =

# Enable/Disable TCP/UDP CRLFCRLF keepalive packets for SIP endpoints
# 1|true|on|enable to enable, 0|false|off|disable to disable
KeepAlives = enable

# URI of a proxy server to use a SIP outbound proxy.  This setting should not be required if
# proper DNS based SIP routing is operational.
OutboundProxy =


########################################################
# Media settings
########################################################

# Specifies the start of the range of UDP port numbers to be used to send RTP traffic.
MediaPortRangeStart = 50000

# Specifies the size of the range of UDP port numbers to be used to send RTP traffic. 
# Calls will be rejected when the media ports are depleted.  A SIP call requires 2 media 
# ports for each call (RTP and RTCP).  For example: a setting of 800 will limit the server 
# to a maximum of 400 calls.
MediaPortRangeSize = 800

# Log Filename - leave blank to disable sipXtapi logging
sipXLogFilename = sipXtapi.log


########################################################
# General settings
########################################################

# Port number for HTTP Server to run on that shows all active calls
HttpPort = 5082

# Logging level: NONE|ERR|WARNING|INFO|DEBUG|STACK
LogLevel = WARNING

# Log Filename
LogFilename = MOHParkServer.log

# Log file Max Bytes
LogFileMaxBytes = 5000000
