[Unit]
Description=reSIProcate reTurn ICE/STUN/TURN server daemon
After=syslog.target
After=network.target

[Service]
Type=forking
ExecStartPre=mkdir -p /var/run/return
ExecStartPre=chown return:return /var/run/return
PIDFile=/var/run/return/reTurnServer.pid
ExecStart=/usr/sbin/reTurnServer /etc/reTurnServer.config --Daemonize=true --LoggingType=syslog --PidFile=/var/run/return/reTurnServer.pid

[Install]
WantedBy=multi-user.target
