BODY, P, DIV, TABLE, TD, TH, INPUT, SELECT, OPTION {
	font-family: Trebuchet MS,sans-serif;
	font-size: 11px;
	background-repeat: repeat-x;
	}

FORM	{size: 2px;}
HR      {height: 1px; color:#CCCCCC;}

.background				{visibility: hidden;
					position: absolute;
						top: -600px;
						left: -600px;
						width: 300px;}

A 						{font-family: Trebuchet MS,sans-serif; color: #862612; text-decoration: none;}
A:hover					{font-family: Trebuchet MS,sans-serif; color: #957B04 text-decoration: none;}
A:visted 				{font-family: Trebuchet MS,sans-serif; color: #CC3B12; text-decoration: none;}

.title					{font-family: Trebuchet MS,sans-serif; font-size: 20px; line-height: 17px; text-transform: uppercase;}

td.sw-tbl { text-align: center; background-color:#ffcc66; }
td.sw-tbl-name, td.sw-tbl-code { font-family: monospace;  background-color: #ffcc66;}
th.sw-tbl-release { text-align: center; background-color: #ff9966; font-size: 16pt;}
td.sw-tbl-rel-comments { text-align: center; background-color: #ffddaa; font-size: -1;}
th.sw-tbl-label { background-color: #ffeeaa;  font-size: -1; }
td.sw-tbl-dl { background-color: #ffcc66; font-weight: bold; }
th.sw-tbl-section { background-color: #ffaa88; font-weight: bold; }
p.cvs-id { font-size: 8 pt; font-style: italic; font-family: Trebuchet MS,sans-serif; line-height: 9pt;}
