[Unit]
Description=reSIProcate reTurn ICE/STUN/TURN server daemon
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/sbin/reTurnServer /etc/reTurn/reTurnServer.config --Daemonize=false
ExecReload=/bin/kill -HUP $MAINPID
Restart=always

[Install]
WantedBy=multi-user.target
