*.log
*.trs
*.swp

/Makefile.in
/Makefile
/.deps
/.libs

BasicCall
basicClient
basicMessage
basicRegister
limpc
setldpath.sh
testContactInstanceRecord
testPubDocument
testRequestValidationHandler
testSMIMEInvite
testSMIMEMessage
treg
