########################################################
# EchoServer configuration file
########################################################


########################################################
# Log settings
########################################################

# Logging Type: syslog|cerr|cout|file
# Note:  Logging to cout can negatively effect performance.
#        When repro is placed into production 'file' or
#        'syslog' should be used.
LoggingType = cout

# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LogLevel = INFO

# Log Filename. This setting is only applicable when LoggingType is set to file.
LogFilename = echoclient.log

# Log file Max Bytes.  This setting is only applicable when LoggingType is set to file.
LogFileMaxBytes = 0

# Log file Max Lines
LogFileMaxLines = 0

# Set to true to configure logging to keep all log files.
# This setting is only applicable when LoggingType is set to file.
# Default behaviour is to keep one .old file on roll over (ie: When LogFileMaxBytes is hit).
# WARNING:  Setting to true can fill your harddisk, so make sure you have an external process to
#           cleanup these files.
KeepAllLogFiles = false


########################################################
# Transport settings
########################################################

# Local IP Address to bind TURN transports to. If left blank
# EchoServer will bind to all adapters.
#LocalIPAddress = 192.168.1.106
#LocalIPAddress = 2001:5c0:1000:a::6d
LocalIPAddress = 192.168.1.28

# Ports are allocated starting at the StartingPort, if NumPorts > 1 then following port will 
# be previous port + PortIncrement.  
# Example: StartingPort=8000, PortIncrement=2, NumPorts=4, results in starting an echo
#          server on ports: 8000, 8002, 8004, 8006
StartingPort = 8000
PortIncrement = 2
NumPorts = 4
