
# Drop privileges and run as some other user and group
# If RunAsUser is specified and RunAsGroup is not specified,
# then setgid will be invoked using the default group for
# the specified user
# If neither option is specified, then no attempt will be made
# to call setuid/setgid (there is no default value)
#RunAsUser = registration-agent
#RunAsGroup = registration-agent

# Must be true or false, default = false, not supported on Windows
Daemonize = true

# On UNIX it is normal to create a PID file
# if unspecified, no attempt will be made to create a PID file
PidFile = /var/run/registrationAgent/registrationAgent.pid

# Log config options are described in repro.config documentation:
# can be cout|cerr|syslog|file
LoggingType = file
LogLevel = WARNING
LogFilename = /var/log/registrationAgent/registrationAgent.log

# The socket to use for connecting to the SNMP master agent.
# There is no default, if this value is empty, the SNMP subagent will
# not be initialized
#SNMPMasterSocket = /var/agentx/master

# Path to load certificates from (optional, there is no default)
# Note that registrationAgent loads ALL root certificates found by any of the settings
#
#    CADirectory
#    CAFile
#    CertificatePath
#
# Setting one option does not disable the other options.
#
# Path to load root certificates from
# Iff this directory is specified, all files in the directory
# will be loaded as root certificates, prefixes and suffixes are
# not considered
# Note that registrationAgent loads ALL root certificates found by the settings
# CertificatePath, CADirectory and CAFile.  Setting one option does
# not disable the other options.
# On Debian, the typical location is /etc/ssl/certs
# On Red Hat/CentOS, there isn't a directory like this.
CADirectory = /etc/ssl/certs

# Specify a single file containing one or more root certificates
# and possibly chain/intermediate certificates to be loaded
# Iff this filename is specified, the certificates in the file will
# be loaded as root certificates
#
# This option is typically used to load a bundle of certificates
# such as /etc/ssl/certs/ca-certificates.crt on Debian and
# /etc/pki/tls/cert.pem on Red Hat/CentOS
#
# Note that registrationAgent loads ALL root certificates found by the settings
# CertificatePath, CADirectory and CAFile.  Setting one option does
# not disable the other options.
#
# Uncomment for Debian/Ubuntu:
#CAFile = /etc/ssl/certs/ca-certificates.crt
# Uncomment for Fedora, Red Hat, CentOS:
#CAFile = /etc/pki/tls/cert.pem

# Certificates in this location have to match one of the filename
# patterns expected by the legacy reSIProcate SSL code:
#
#   domain_cert_NAME.pem, root_cert_NAME.pem, ...
#
# For domain certificates, it is recommended to use the options
# for individual transports, such as TransportXTlsCertificate and
# TransportXTlsPrivateKey and not set CertificatePath at all.
#
CertificatePath =

# The expiry time to request (the server may override with a shorter time)
# May also be specified on per-registration basis (see UserAccountFile below)
RegistrationExpiry = 3600

# Use an outbound proxy (can be blank)
# May also be specified on per-registration basis (see UserAccountFile below)
#OutboundProxy = sip:sip-proxy.example.net

# Add rport to the Via header we insert in requests
# This is enabled by default but in some situations, such as working around
# bug #137, it may be desirable to disable it.
AddViaRport = true

# Text file (Tab separated values) containing accounts to be registered
# The default value is users.txt in the current working directory
UserAccountFile = users.txt

# AMQP-1.0 broker / queue for receiving commands
# The default is empty, if not defined, there is no attempt to connect
# to a message broker.
#BrokerURL = amqp://localhost:5672//queue/sip.registration.agent.cmd

