
Daemonize = true
PidFile = /var/run/sip/basicRegister.pid

# Log config options are described in repro.config documentation:
# can be cout|cerr|syslog|file
LoggingType = file
LogLevel = WARNING
LogFilename = basicRegister.log

CADirectory = /etc/ssl/certs

# The user name to register
UserAor = sip:foo@sip.example.org
# The SIP DIGEST password
Password = secret

# The expiry time to request (the server may override with a shorter time)
RegistrationExpiry = 3600

# Use an outbound proxy (can be blank)
OutboundProxy = sip:sip-proxy.example.net

# The contact URI to register
# Note: if using outbound, the transport specified here
# should probably match the type of transport that the proxy is using
# to contact the external site.
Contact = sip:foo@198.51.100.2:5061;transport=TLS;ob
# The SIP instance ID to add to the contact header
InstanceId = <urn:uuid:2ee5fbe1-a356-45c4-828a-e38c7068d3cf>

