language: cpp
dist: xenial
before_install:
 - sudo apt-get update -qq
 - sudo apt-get install -qq autotools-dev
 - sudo add-apt-repository -y "deb http://http.us.debian.org/debian/ jessie main"
 - sudo add-apt-repository -y "deb http://http.us.debian.org/debian/ jessie-backports main"
 - sudo apt-get update -qq
 - sudo apt-get install -qq --force-yes -o Dpkg::Options::="--force-overwrite" -o Dpkg::Options::="--force-confnew" -t jessie-backports librecon-1.10-dev
compiler:
 - gcc
 - clang
script:
 - ./build/travis/bootstrap
 - ./build/travis/configure
 - ./build/travis/build

