TurnPort = 3478
TlsTurnPort = 5349
AltStunPort = 0
TurnAddress = 0.0.0.0
AltStunAddress = 0.0.0.0
AuthenticationMode = 2
AuthenticationRealm = reTurn
NonceLifetime = 3600
AllocationPortRangeMin = 49152
AllocationPortRangeMax = 65535
DefaultAllocationLifetime = 600
MaxAllocationLifetime = 3600
MaxAllocationsPerUser = 0
TlsServerCertificateFilename = server.pem
TlsTempDhFilename = dh512.pem
# leave blank if key is not encrypted
#TlsPrivateKeyPassword = 
# Logging Type: syslog|cerr|cout|file
LoggingType = cout
# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LoggingLevel = DEBUG
LogFilename = reTurnServer.log
LogFileMaxLines = 50000
# It is highly recommended that these values are NOT left at their
# default setting
LongTermAuthUsername = test
#LongTermAuthPassword = 1234
# Must be true or false, default = false, not supported on Windows
Daemonize = false
# On UNIX it is normal to create a PID file
# if unspecified, no attempt will be made to create a PID file
#PidFile = /var/run/reTurnServer/reTurnServer.pid

