########################################################
# TurnLoadGenClient configuration file
########################################################


########################################################
# Log settings
########################################################

# Logging Type: syslog|cerr|cout|file
# Note:  Logging to cout can negatively effect performance.
#        When repro is placed into production 'file' or
#        'syslog' should be used.
LoggingType = cout

# Logging level: NONE|CRIT|ERR|WARNING|INFO|DEBUG|STACK
LogLevel = INFO

# Log Filename. This setting is only applicable when LoggingType is set to file.
LogFilename = turnloadgenclient.log

# Log file Max Bytes.  This setting is only applicable when LoggingType is set to file.
LogFileMaxBytes = 0

# Log file Max Lines
LogFileMaxLines = 0

# Set to true to configure logging to keep all log files.
# This setting is only applicable when LoggingType is set to file.
# Default behaviour is to keep one .old file on roll over (ie: When LogFileMaxBytes is hit).
# WARNING:  Setting to true can fill your harddisk, so make sure you have an external process to
#           cleanup these files.
KeepAllLogFiles = false


########################################################
# Transport settings
########################################################

# Local IP Address to bind TURN transports to. If left blank
# TurnLoadGenClient will bind to all adapters.
#LocalIPAddress = 192.168.1.106
#LocalIPAddress = 2001:5c0:1000:a::6d
LocalIPAddress = 192.168.1.28

RelayPort = 0

TurnServerIPAddress = 192.168.1.25
TurnServerPort = 3478
TurnServerProtocol = UDP
TLSRootCertFile = ca.pem

TurnServerUsername = test
TurnServerPassword = pwd


########################################################
# Load test settings
########################################################

SendInitialBind = false
NumClientsToSimulate = 1
DelayBetweenClientStartsMs = 2000
AllocationTimeSecs = 60
#AllocationLifetimeSecs = 600  # Note:  coturn will not allow allocations to lower lifetime below 10 mins - commenting this out sends allocations with an unspecified lifetime
TimeBetweenAllocationsSecs = 2
PayloadIntervalMs = 20
PayloadSizeBytes = 172
